<mat-card>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>{{character.name}}</mat-card-title>
    <mat-card-subtitle>{{character.gender}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2F6%2F6c%2FStar_Wars_Logo.svg%2F1200px-Star_Wars_Logo.svg.png&f=1"
    alt="Photo of a {{character.name}}">
  <mat-card-content>
    <p *ngIf="!editMode">
      {{description}}
    </p>
    <p *ngIf="editMode">
      <textarea #descrip (keyup.enter)="changeDescription(descrip.value)" matInput [value]="description"></textarea>
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
    <button mat-button color="accent" (click)="triggerEditMode()">Edit</button>
  </mat-card-actions>
</mat-card>
