:host {
  position: relative;

  mat-toolbar div {
    width: 100%;
  }

  main {
    display: flex;
    justify-content: space-between;
    // flex-flow: row wrap;

    margin: 1em;

    > div {
      display: flex;
      flex-direction: column;
    }

    demo-comp1, demo-comp5 {
      box-sizing: border-box;
      margin: auto;

      padding: 3em;

      border: 1px solid red;
      text-align: center;
    }
  }

  button {
    margin: 1em;
  }
}
