<mat-toolbar style="display: flex">
  <div style="display: block; flex:1;">On Push - why and when <b style="color: #693761a4">Demo</b></div>
  <div style="display: block; flex: 1;color:rgb(25, 105, 101);"> Default strategy </div>
</mat-toolbar>

<mat-form-field *ngIf="accountService.user && accountService.user.name === 'Admin'">
    <input matInput placeholder="Notification for everyone..." #global (change)="changeGlobalMessage(global.value)" type="text" />
</mat-form-field>

<main>
  <demo-chat [globalNotification]="globalMessage"></demo-chat>
</main>
