.message {
  display: block;
  margin: 2em;
  border-bottom: 1px solid black;
}

.global-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  margin: 1em;
  border: 1px solid black;
  border-radius: 1em;

  div:first-child {
    font-size: 20px;
    color: green;
    border-bottom: 1px solid black;
  }

  div:last-child {
    padding: 1em;
    font-size: 20px;
  }
}
